body {
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #6c6c6c;
}

.ala {
    font-family: Italiana;
    float: right;
}

.bleh {
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #008C45;
}

.menu {
    color: #F4F9FF;
    text-align: center;
    text-decoration: none;
    font-size: 27.5px;
    background-color: #CD212A;
    border-radius: 10%;
    width: 160px;
    border: 3px solid black;
}

.menu:hover {
    background-color: #F4F9FF;
    color: #CD212A;
    transition: 0.5s linear;
}

.logo {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Italiana', serif;
    font-size: 30px;
    align-items: center;  
    font-weight: bold; 
    margin-bottom: 20px;
}

.foods {
    height: 300px;
    width: 375px;
    border-radius: 100%;
}

.taly {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around;
}

.des {
    width: 500px;
    margin-left: 50px;
    font-size: 25px;
}

.name {
    font-family: Times New Roman;
    border: 3px solid rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    background-color: gold;
}

.name:hover {
    background-color: black;
    color: gold;
    border-color: gold;
    transition: 0.75s ease-in;
}

.product-img {
    height: 500px;
    width: 500px;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.header-img {
    border-radius: 100%;
    border: 15px double #CD212A;
}

.aboutus {
    color: goldenrod;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.about-1 {
    margin: 10px;
}

.rat {
    /* Empty class, can be used if needed */
}

.e {
    width: 296px;
    height: 196px;
    border: 5px solid gold;
    border-radius: 25%;
}

.history {
    color: goldenrod;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.history-1 {
    margin: 10px;
}

.bee{
    border: 15px solid goldenrod;
    border-radius: 5%
}

.bee:hover{
    border: 15px solid darkgoldenrod;
    border-radius:5%;
    transition: 0.65s ease-out;
}
